.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products li {
    border: 1px solid #cccccc54;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    list-style: none;
    margin: 5px 10px;
    box-shadow: 1px 1px 10px #00000010;
    width: 25%;
}